<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangerousarea.gollum.dao.BrandAccountMapper">

    <resultMap id="BrandAccount" type="com.dangerousarea.gollum.domain.entities.BrandAccount">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="account" property="account" />
        <result column="email" property="email" />
        <result column="name" property="name" />
        <result column="password" property="password" />
        <result column="status" property="status" />
        <result column="data_status" property="dataStatus" />
        <result column="password_reset_date" property="lastPasswordResetDate" jdbcType="DATE" />
    </resultMap>

    <resultMap id="BrandAccountDto" type="com.dangerousarea.gollum.domain.dto.BrandAccountDto" extends="BrandAccount">
        <result column="brand_status" property="brandStatus" />
        <collection property="roles" ofType="com.dangerousarea.gollum.domain.entities.Role" columnPrefix="role_" >
            <id column="id" property="id" />
            <result column="name" property="name" />
            <result column="brand_id" property="brandId" />
            <result column="description" property="description" />
        </collection>
    </resultMap>

    <insert id="create" parameterType="com.dangerousarea.gollum.domain.entities.BrandAccount" useGeneratedKeys="true" keyProperty="id">
        insert into gollum_brand_account (brand_id, account, name, password, password_salt)
        values (#{brandId}, #{account}, #{name}, #{password}, #{passwordSalt});
    </insert>

    <select id="selectByAccount" parameterType="java.lang.String" resultMap="BrandAccountDto">
        select gba.*, gb.status
         ,pr.id role_id
         ,pr.name role_name
         ,pr.brand_id role_brand_id
         ,pr.description role_description
         ,gb.status brand_status from gollum_brand_account gba
        left join gollum_brand gb on gb.id = gba.brand_id
        left join pms_role_account pra on pra.account_id = gba.id
        left join pms_role pr on pr.id = pra.role_id
        where gba.account = #{account};
    </select>
</mapper>