<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dangerousarea.gollum.dao.BrandMapper">
    <resultMap id="Brand" type="com.dangerousarea.gollum.domain.entities.Brand">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="mobile_phone" property="mobilePhone" />
        <result column="country_code" property="countryCode" />
        <result column="status" property="status" />
        <result column="introduction" property="introduction" />
        <result column="active_time" property="activeTime" />
        <result column="expire_time" property="expireTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <insert id="create" parameterType="com.dangerousarea.gollum.domain.entities.Brand" useGeneratedKeys="true" keyProperty="id">
        insert into gollum_brand (name, logo, mobile_phone, country_code, status, introduction, active_time, expire_time, create_time)
        values (#{name}, #{logo}, #{mobilePhone}, #{countryCode}, #{status}, #{introduction}, #{activeTime}, #{expireTime}, current_timestamp);
    </insert>

    <select id="selectByPrimaryKey" resultMap="Brand" >
        select gb.* from gollum_brand gb where gb.id = #{brandId};
    </select>

    <update id="audit">
        update gollum_brand set status = #{status} where id = #{brandId};
    </update>
</mapper>